* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background: #f5f8ff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
.btn-primary {
  width: 100%;
  padding: 22px 50px;
  gap: 10px;
  background: #e95a08;
  align-self: stretch;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

/* navbar section start */
.navbar {
  margin-top: 30px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul {
  display: flex;
  gap: 48px;
  list-style: none;
}
.nav-links ul a {
  text-decoration: none;
  color: #252432;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.nav-links ul li:nth-child(2) a,
.nav-links ul li:nth-child(3) a {
  color: #8987a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.nav-links ul li:nth-child(4) a {
  font-weight: 400;
}
/* banner section start */
.banner {
  display: flex;
  align-items: end;
}
.banner-content {
  flex: 1;
}
.banner-content h1 {
  color: #000;
  font-family: "Noto Serif";
  font-size: 4.1rem;
  font-weight: 700;
}
.banner-content h1 span {
  color: #e95a08;
  font-family: "Noto Serif";
  font-size: 4.1rem;
  font-weight: 700;
}
.banner-content h1.flowers {
  color: #e95a08;
  font-family: "Noto Serif";
  font-size: 4.1rem;
  font-weight: 700;
}

.banner-content p {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
}
.banner-image {
  flex: 1;
}

/* our plant section start */
.plants {
  margin-top: 120px;
}
.plants-content {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.plants-content h1 {
  color: #e95a08;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}
.plants-content h1 span {
  color: #000;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}
.plants-content p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}

.plants-boxes {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.plant-info {
  text-align: center;
}
.plant-info h3 {
  margin-top: 30px;
  color: #111;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
}
.plant-info p {
  margin-bottom: 30px;
  color: #111;
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}

/* plants lover section start */
.plants-lover {
  margin-top: 210px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.plants-lover-image {
  background-image: url(../images/flower-store.png);
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 597px;
  flex: 1;
  position: relative;
}
.plants-lover-image img {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -119px;
  left: 350px;
}
.plants-lover-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.plants-lover-content h1 {
  width: 70%;
  color: #000;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}
.plants-lover-content ul {
  padding-left: 35px;
}
.plants-lover-content ul p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}

/* leates deals section start */
.leates-deals {
  margin-top: 130px;
}
.leates-deals-content {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 120px;
}
.leates-deals-content h1 {
  color: #e95a08;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}
.leates-deals-content span {
  color: #000;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}
.leates-deals-content p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}

.leates-deals-images {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.leates-deals-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left-bloom {
  background-image: url(../images/deal-bloom.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.left-bloom::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.left-bloom h4,
p {
  position: relative;
  z-index: 1;
}
.left-bloom h4 {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 20px;
  font-weight: 700;
}
.left-bloom p {
  display: flex;
  height: 50px;
  padding: 26px 50px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
}
.left-ana {
  background-image: url(../images/deal-ana.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.left-ana::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 99%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.left-ana h4,
p {
  position: relative;
  z-index: 1;
}
.left-ana h4 {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 20px;
  font-weight: 700;
}
.left-ana p {
  height: 50px;
  padding: 26px 50px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
}
.right-zabo {
  background-image: url(../images/deal-zabo.png);
  background-repeat: no-repeat;
  width: 753px;
  height: 423px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.right-zabo::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.right-zabo h4,
p {
  position: relative;
  z-index: 1;
}
.right-zabo h4 {
  color: #fff;
  font-family: "Noto Serif";
  font-size: 40px;
  font-weight: 700;
}
.right-zabo p {
  height: 50px;
  padding: 26px 50px;
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  text-decoration-line: underline;
}

/* join section start */
.join-section {
  margin-top: 120px;
  background-image: url(../images/news-letter-bg.png);
  object-fit: cover;
  width: 100%;
  height: 533px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.join-section h1 {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.join-btn {
  display: flex;
  width: 50%;
}
.join-btn input {
  width: 70%;
  display: flex;
  height: 50px;
  padding: 8px 20px;
  gap: 10px;
}
.join-btn button {
  width: 30%;
  display: flex;
  height: 49px;
  padding: 11px 34px;
  justify-content: center;
  align-items: center;
}

/* footer section start */
footer {
  padding: 50px 160px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: end;
}
.footer-content img {
  margin-bottom: 16px;
}
.footer-content p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}
.footer-links-1,
.footer-links-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-links-1 a,
.footer-links-2 a {
  text-decoration: none;
  color: var(--Gray-500, #6b7280);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer-icons div {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* responsive for mobile device */
@media screen and (max-width: 576px) {
  .container {
    max-width: 1140px;
    margin: 0 20px;
  }
  .nav-links ul li:nth-child(1) a,
  .nav-links ul li:nth-child(2) a,
  .nav-links ul li:nth-child(3) a {
    display: none;
  }
  /* banner section responsive */
  .banner {
    margin-bottom: 65px;
    flex-direction: column-reverse;
  }
  .plants-content {
    width: 95%;
  }
  .banner-content h1,
  .banner-content h1.flowers,
  .banner-content h1 span {
    font-size: 40px;
  }

  .banner-content p {
    font-size: 20px;
  }

  /* our plant section responsive */
  .plants-content h1,
  .plants-content h1 span {
    font-size: 40px;
  }
  .plants-content p {
    font-size: 20px;
  }
  .plants-boxes {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .plant-info h3,
  .plant-info p {
    font-size: 20px;
  }
  /* plants lover section responsive */
  .plants-lover {
    margin-top: 45px;
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .plants-lover-image {
    flex: none;
    background-position: center;
  }
  .plants-lover-image img {
    display: none;
  }
  .plants-lover-content h1 {
    width: 100%;
    font-size: 40px;
  }
  .plants-lover-content ul p,
  .leates-deals-content p {
    font-size: 20px;
  }
  /* leates deals section responsive */
  .leates-deals-content {
    max-width: 90%;
    margin-bottom: 60px;
  }
  .leates-deals-content h1,
  .leates-deals-content span {
    font-size: 40px;
  }

  .leates-deals-images {
    grid-template-columns: 1fr;
  }

  .left-bloom {
    background-size: cover;
    width: 100%;
    height: 250px;
  }
  .left-bloom h4,
  .left-ana h4,
  .right-zabo h4 {
    font-size: 40px;
  }
  .left-bloom p,
  .left-ana p,
  .right-zabo p {
    font-size: 22px;
  }

  .left-ana {
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 0px;
  }

  .right-zabo {
    width: 100%;
    height: 250px;
  }
  /* join section responsive */
  .join-section {
    margin-top: 70px;
    height: 325px;
    background-size: cover;
  }
  .join-section h1 {
    font-size: 40px;
  }
  .join-btn {
    width: 82%;
  }
  /* footer section responsive */
  footer {
    padding: 60px 25px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: normal;
  }
  .footer-content {
    width: 57%;
  }
  .footer-content p {
    font-size: 20px;
  }
  .footer-links-1 a,
  .footer-links-2 a {
    font-size: 20px;
  }
}
